body{margin:0;background:#111;color:#fff;font-family:Arial;text-align:center}
canvas{background:#1e90ff;display:block;margin:10px auto;border:3px solid #fff}
button{padding:10px 20px;margin:5px;font-size:18px}
